<ilpn-page-layout>
    <h2>Alpha Miner</h2>
    <hr>

    <div fxLayout="row wrap" fxLayoutAlign="space-evenly start">
        <ilpn-file-upload descriptionText="Drop a XES log file here" [fileDisplay]="fdLog" [showText]="log === undefined" (fileContent)="processLog($event)"></ilpn-file-upload>
        <ilpn-file-download descriptionText="Click to download model" [fileDisplay]="fdPn" [disabled]="processing || result === undefined"></ilpn-file-download>
        <ilpn-file-download descriptionText="Click to download synthesised nets" [squareContent]="'X'" [disabled]="processing || report === undefined"></ilpn-file-download>
    </div>
</ilpn-page-layout>
